{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
<div class="mb-5">
    <b>Welcome to my CS50 Final Project - a simple couples' vacation planner</b>
    <p></p>
    <p></p>
    <p>Via the routes <a href="master">master data</a>, <a href="plan">plan</a>, <a href="overview">overview</a> you can easily manage the annual vacation plan of you and your friend or partner! Please also take a look at the instructions below the photo.</p>
    <p></p>
    <p></p>
    <i>“If I'm an advocate for anything, it's to move. As far as you can, as much as you can. Across the ocean, or simply across the river. The extent to which you can walk in someone else's shoes or at least eat their food, it's a plus for everybody.
        Open your mind, get up off the couch, move.” ― Anthony Bourdain</i>
</div>
<div>
<a href="https://www.kayak.com/flights" target="_blank"><img src="/static/dantesview.jpg" alt="dantesview" style="width:1200px;height:800px;"></a>
</div>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<b>Short Instructions:</b>
<p></p>
<p>The route <a href="master">master data</a> is there for you to tell the site who you are, how many vacation days you have per year and how many days you have left from last year.</p>
<p>The route <a href="plan">plan</a> serves the purpose for you to plan your vacations one by one.</p>
<p>After submission, they will be displayed in <a href="overview">overview</a>, where you can select the respective year to display all planned vacations. There you will also be able to remove any planned vacations.</p>

{% endblock %}
